@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'android';
    src: url('../fontes/idroid.otf');
    font-weight: normal;
}

*{
    margin: 0px;
    padding: 0px;
}

:root{
    --cor0: #fff;
    --cor1: #468eec;
    --cor2: #503EF7;
    --cor3: #2542d5;
    --cor4: #000;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
}

/* BODY */

body{
    background-color: var(--cor1);
    font-family: var(--fonte-padrao);
    height: 98vh;
}

/* HEADER */

header{
    font-family: var(--fonte-padrao);
    font-weight: bolder;
    font-size: 1.3em;
    color: var(--cor0);
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.719);
    margin-top: 40px;
    margin-bottom: 30px;
    text-align: center;
}


/* MAIN (HEADER) */

main.main-header{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

    width: 28vw;
    padding-top: 10px;
    padding-bottom: 30px;

    margin: auto;

    text-align: center;

    border-radius: 15px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
}

div.num-cima{
    margin-top: 10px;
}

div.num-cima>p{
    margin-top: 10px;
}

input{
    margin-top: 10px;
}

input.num001{
    width: 12vw;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

input.num002{
    width: 12vw;
    height: 20px;
    text-align: center;
    border-radius: 10px;
    margin-bottom: 5px;
}

div.num-baixo{
    margin-bottom: 30px;
}

input.variavel1{
    width: 12vw;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

input.variavel2{
    width: 12vw;
    height: 20px;
    text-align: center;
    border-radius: 10px;
}

div.mostrador{
    margin-top: 15px;
    color: var(--cor1);
    font-size: 1.5em;
}

/* INPUT-BUTTOM */

button{
    
    background-color: var(--cor1);
    color: var(--cor0);

    margin: auto;
    margin-bottom: 15px;
    width: 18vw;
    height: 50px;

    border-radius: 10px;
    
    font-size: 1em;
    font-weight: bolder;

    cursor: pointer;
    outline: none;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);

    transition: .3s;
}

/* MAIN (BOTTOM) */

main.main-bottom{
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);

    width: 28vw;
    padding-top: 10px;
    padding-bottom: 10px;
    
    margin: auto;
    margin-top: 13px;
    margin-bottom: 30px;

    text-align: center;

    border-radius: 15px;

    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.349);
}

div.res{
    margin-top: 10px;
    font-size: 1.3em;
    text-align: center;
}

/* FOOTER */

body>footer{
    background-color: var(--cor0);
    color: var(--cor4);
    width: 28vw;

    text-align: center;
    font-size: .8em;

    padding: 5px;
    margin: auto;
    margin-top: 193px;
}